*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Entornos virtuales de Python
venv/
env/

# Archivos de configuración sensible / llaves
.env

# Archivos de caché de Python
**/__pycache__/
*.pyc

# Dependencias web (en caso de usar Node/React más adelante)
node_modules/